body{
    background-color:burlywood ;
}

.Container{
    display: grid;
    justify-content: ;
    grid-gap: 10px;
}

#Play{
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 25px;
}

#Pause{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 25px;
}
#Icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
    mix-blend-mode: multiply;
}

#Clock{
    text-align: right;
}
#Title{
    text-align: center;
    font-family: "Jaro", sans-serif;
    font-size: 60px;
    color: gold;
}